<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="{% static 'javascript/goodshow.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/broshow.css' %}">
</head>
<body>
        <table>
        <thead>
        <th>BATCHNO</th>
        <th>DATE</th>
        <th>PRODUCT CODE</th>
        <th>WAREHOUSE CODE</th>
        <th>QTY</th>
        <th>PRICE PER UNIT</th>
        <th>PO NUMBER</th>
        <th>VENDOR</th>
        </thead>
        <tbody>

        </tbody>
        </table>
        <div id="myModal" class="modal">

  <!-- Modal content -->
        <div class="modal-content">
            <form>
            </form>
        </div>

    </div>
</body>
</html>