<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="{% static 'javascript/PROD_ADD.js' %}"></script>
</head>
<body>
    <form>
        <label for="PRODNAME">Product Name</label>
        <input id="PRODNAME" placeholder="Product Name">
        <br>
        <label for="PRODGRP">Product Group</label>
        <input id="PRODGRP" placeholder="Product Group">
        <br>
        <label for="INVENTUNT">Inventory Unit</label>
        <input id="INVENTUNT" placeholder="Inventory Unit">
        <br>
        <label for="Submit">Submit</label>
        <button id="Submit">Submit</button>
    </form>
</body>
</html>