<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="{% static 'javascript/CUSTADD.js' %}"></script>
</head>
<body>
    <form>
        <label for="CUSTNAME">Customer Name</label>
        <input id="CUSTNAME" placeholder="Customer Name">
        <br>
        <label for="CUSTADD">Customer Address</label>
        <input id="CUSTADD" placeholder="Customer Address">
        <br>
        <label for="PTCODE">Payment Term Code</label>
        <input id="PTCODE" placeholder="Payment Term Code">
        <br>
        <label for="WHCODE">Warehouse Code</label>
        <input id="WHCODE" placeholder="Warehouse Code">
        <br>
        <button id="SUBMIT">Submit</button>
    </form>
</body>
</html>