<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Warehouse Creation</title>
    <script src="{% static 'javascript/wh_creating.js' %}"></script>
</head>
<body>
    <form>
        <label for="WHNAME">Warehouse Name</label>
        <input type="text" id="WHNAME" placeholder="Warehouse Name">
        <br>
        <label for="WHADD">Warehouse Address</label>
        <input type="text" id="WHADD" placeholder="Address">
        <button id="Submit">submit</button>
    </form>
</body>
</html>