<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/hyperlinks.css' %}">
</head>
<body>
    <a href="http://127.0.0.1:8000/WHMAKE/">Warehouse Make</a>
    <a href="http://127.0.0.1:8000/WHSHOW/">Warehouse Show</a>
    <a href="http://127.0.0.1:8000/PTCREATE">Payment Term Make</a>
    <a href="http://127.0.0.1:8000/CUSTADD/">Customer Make</a>
    <br>
    <a href="http://127.0.0.1:8000/PRODBRO/">Product Make</a>
    <a href="http://127.0.0.1:8000/PRODSIS/">Product Show</a>
    <a href="http://127.0.0.1:8000/GOODSYO/">Goods Reciept Make</a>
    <a href="http://127.0.0.1:8000/RECIEPTDAD/">Goods Reciept Show</a>
    <br>
    <a href="http://127.0.0.1:8000/CASHMONEY">Sales Order Creation</a>
</body>
</html>