<!DOCTYPE html>
{% load static %}
<html lang="en">
<script src="{% static 'javascript/PROD_show.js' %}"></script>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <table>
        <thead>
            <th>PRODCODE</th>
            <th>PRODNAME</th>
            <th>PRODGRP</th>
            <th>INVENT</th>
            <th>INVENTUNIT</th>
            <th>INVENTCOST</th>
            <th>ONORDERQTY</th>
        </thead>
        <tbody>

        </tbody>
    </table>
</body>
</html>
