<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="{% static 'javascript/pt_show1.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/show_pterm.css' %}">
</head>
<body>
    <table>
        <thead>
            <th>PTCODE</th>
            <th>PTDESC</th>
            <th>PTDAYS</th>
            <th>PTBASIS</th>
        </thead>
        <tbody>

        </tbody>
    </table>

    <div id="myModal" class="modal">

  <!-- Modal content -->
        <div class="modal-content">
            <form>
            </form>
        </div>

    </div>
</body>
</html>