<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Warehouse Show</title>
    <script src="{% static 'javascript/wh_showing.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/wareshow.css' %}">
</head>
<body>
    <table id="table">
        <thead>
            <th>WHCODE</th>
            <th>WHNAME</th>
            <th>WHADD</th>
        </thead>
        <tbody>

        </tbody>
    </table>

    <div id="myModal" class="modal">

  <!-- Modal content -->
        <div class="modal-content">
            <form>
            </form>
        </div>

    </div>
</body>
</html>